<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">
        <img src="/assets/twitter.png" height="30" class="d-inline-block" alt="">
        GeoTwitter
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="input-group">
        <input class="form-control input-sm" type="text" placeholder="Search"
              [(ngModel)]="query" (keyup.enter)="sendSearch()"/>
        <button class="btn btn-success" (click)="sendSearch()">Search</button>
    </div>

  </nav>
