#map {
  height: 93vh;
  width: 100%;
  border: 2px solid black;
  border-top: none;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 400;
  padding: .5rem;
  background-color: white;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
